/* Write GOOD comments so that next developer ( killer psycopath who knows where you stay ) ... */
/* .... who is going to maintain this code; need NOT have to get back to you */

/* Use Required Google Font with Weights */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* Universal Selector & explicitly set box-sizing type */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  everything applicable to or can be used for all elements */
/* color palette */
:root {
  --bg-color: hsl(212, 45%, 89%);
  --card-bg-color: hsl(0, 0%, 100%);
  --card-title-color: hsl(218, 44%, 22%);
  --card-background-color: hsl(244, 38%, 16%);
  --main-heading-color: hsl(0, 0%, 100%);
  --stats-color: hsl(0, 0%, 100%);
  --main-paragraph-color: hsla(0, 0%, 100%, 0.75);
  --stat-heading-color: hsla(0, 0%, 100%, 0.6);
  --main-header-accent: hsl(277, 64%, 61%);
  --main-background: hsl(233, 47%, 7%);
}

body {
  height: 100vh;
  /* center the main container */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);
}

.card-container {
  display: flex;
  /* border: 1px solid red; */
  width: 75%;
  height: auto;
  margin: auto;
  justify-content: center;
  /* allow flex item to take whole height */
  align-items: stretch;
  background-color: var(--card-background-color);
  border-radius: 0.5em;
}

/* left side container */
.left-child-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 3em;
  justify-content: space-between;
}

.left-child-container > div:nth-child(1) {
  width: 85%;
}

.left-child-container > div:nth-child(1) > h1 {
  font-size: 2.5em;
  color: var(--main-heading-color);
}

.left-child-container > div:nth-child(1) > h1 > span {
  color: var(--main-header-accent);
}

.left-child-container > div:nth-child(2) > p {
  /* debugging purpose */
  /* color: red; */
  font-size: 1.1em;
  width: 85%;
  line-height: 1.5em;
  color: var(--main-paragraph-color);
}

.left-child-container > div:nth-child(3) {
  /* debugging purpose */
  /* border: 1px solid green; */
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.single-stats-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-stats-container > h2 {
  margin-bottom: 0.8em;
  color: var(--stats-color);
  font-size: 1.25em;
}

.single-stats-container p {
  text-transform: uppercase;
  color: var(--stat-heading-color);
  font-size: 0.75em;
}

/* right side container */
.right-child-container {
  /* border: 4px solid red; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-child-container figure {
  width: 100%;
  height: 100%;
}

/* fit image inside a div */
.right-child-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */

/* Responsive web design */
@media (max-width: 29.6875em) {
  .card-container {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
  }

  /* top container with image */
  .right-child-container {
    width: 100%;
    height: 250px;
    /* border: 2px solid red; */
  }

  .right-child-container img {
    display: block;
    width: 100%;
    object-fit: fill;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0;
  }

  /* bottom container with text */
  .left-child-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0 0.5em 0;
  }

  .left-child-section {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* debugging purpose only */
    /* border: 2px solid green; */
  }

  .left-child-container > div:nth-child(1) {
    margin-bottom: 1em;
    width: 55%;
    line-height: 1.1;
  }

  .left-child-container > div:nth-child(1) > h1 {
    font-size: 1.35em;
    color: var(--main-heading-color);
    text-align: center;
  }

  .left-child-container > div:nth-child(2) p {
    width: 65%;

    font-size: 0.95em;
    text-align: center;
  }

  .left-child-container > div:nth-child(3) {
    /* border: 3px solid greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .single-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    /* border: 3px solid gold; */
  }

  .single-stats-container h2 {
    margin: 0.2em;
    font-size: 1.15em;
    /* border: 3px solid red; */
  }

  .single-stats-container p {
    font-size: 0.65em;
  }
}
